@import "./null-style.scss";
@import "./modal-window.scss";
@import "./select.scss";
html,
body {
  display: flex;
  min-width: fit-content;
  height: fit-content;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  min-height: 100vh;
  /*
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  ↑ На экране шириной 320 пикселей шрифт имеет размер 16 пикселей, 
  а на экране шириной 1200 пикселей – размер 24 пикселя. */
}
.wrapper > header {
  width: 100%;
  height: 50px;
  position: fixed;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: auto auto 1fr auto;
  justify-content: center;
  align-content: center;
  padding: 7px;
  font: 20px "Calibri";
  color: white;
  background-color: blue;
  & > #employee-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  & > .change-account-btn {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font: inherit;
  }
  & > .exit-btn {
    grid-column-start: 4;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font: inherit;
  }
}
main {
  width: 100%;
  margin-top: 50px; // the height of header
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  font: 20px "Calibri";
}
main > header {
  // display: flex;
  // flex-direction: row;
  // // justify-content: space-between;
  // align-items: center;
  padding: 5px;
  border: 3px solid gray;
  border-top: 0;
  border-radius: 0 0 7px 7px;
  & button {
    background-color: limegreen;
    color: white;
    width: fit-content;
    padding: 3px 5px;
    border-radius: 5px;
    text-align: center;
    font: inherit;
  }
  & > .search-section {
    // display: block;
    // width: fit-content;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    & > header {
      text-align: center;
    }
    & input {
      font: inherit;
      // display: inline-block;
      width: 150px;
      // flex: 1 0 150px;
      flex-grow: 1;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 0 3px;
      margin: 3px;
      // customer_na customer_ph pizza_name" receipt_num
      &[name="customer_name"] {
        min-width: 115px;
        // flex-grow: 0;
      }
      &[name="customer_phone_num"] {
        min-width: 225px;
        // flex-grow: 0;
      }
      &[name="pizza_name"] {
        // flex-grow: 0;
      }
      &[name="receipt_num"] {
        min-width: 107px;
        flex-grow: 0;
      }
    }
    & > div {
      // flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // width: max-content;
      justify-content: center;
      align-items: center;
    }
    & > #datetime-period {
      display: inline-flex;
      // width: fit-content;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      // justify-content: center;
      // flex-shrink: 1;
      // align-items: center;
      border: 1px solid dimgray;
      padding: 5px;
      padding-top: 3px;
      margin: 3px;
      border-radius: 3px;
      & > span {
        // flex: 1 0 100%;
        width: 100%;
        // max-width: 100%;
        // display: inline-block;
        // min-width: min-content;
        text-align: center;
      }
      .datetime-component {
        display: inline-flex;
        // flex: 0 0 fit-content;
        flex-direction: row;
        align-items: center;
        & > input[name] {
          width: 30px;
        }
        & > input[name="year"] {
          width: 60px;
        }
      }
    }
  }

  & #search-btn {
    background-color: dodgerblue;
    margin-top: 3px;
  }
  // & #more-search-filters-btn {
  //   background-color: dodgerblue;
  // }
  & #refresh-btn {
    // height: min-content;
    margin: 7px 0;
  }
  & > .actions-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // margin-left: 3px;
    & label {
      text-align: center;
      margin-top: 3px;
      font: inherit;
      font-size: 16px;
    }
    & select {
      border: 1px solid dimgray;
      font: inherit;
      font-size: 16px;
    }
    & > .actions-section__sorting {
      display: flex;
      flex-direction: column;
      margin: 5px;
    }
  }
}
main > #orders {
  width: 100%;
  padding: 10px;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > .order {
    width: 100%;
    min-width: fit-content;
    // display: flex;
    // flex-direction: column;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto min-content;
    grid-template-areas:
      "receipt_num issuance_btn"
      "cost cost"
      "order_items order_items"
      "customer_name customer_name"
      "customer_phone_num customer_phone_num"
      "datetime datetime";
    box-shadow: 0 0 3px 1px gray;
    border-radius: 5px;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
    & > div {
      display: flex;
      align-items: center;
      &.receipt_num {
        grid-area: receipt_num;
      }
      &.customer_name {
        grid-area: customer_name;
      }
      &.customer_phone_num {
        grid-area: customer_phone_num;
      }
      &.datetime {
        grid-area: datetime;
      }
      &.cost {
        grid-area: cost;
      }
      &.order-items {
        grid-area: order_items;
        flex-direction: column;
        align-items: start;
      }
    }
    & > .issuance-btn {
      grid-area: issuance_btn;
      white-space: nowrap;
      background-color: limegreen;
      color: white;
      margin-left: 5px;
      padding: 3px 5px;
      border-radius: 5px;
      text-align: center;
      font: inherit;
    }
  }
}
@media (min-width: 620px) {
  main > header {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    & > .actions-section {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
      align-items: center;
    }
  }
}